#### Q1) This function should add the two values if the value of the "kind" parameter is "add" or is not passed in, otherwise it should subtract the second value from the first. 

- Can you fix the function so that it works?

In [9]:
''' def do_math(?, ?, ?):
  if (kind=='add'):
    return a+b
  else:
    return a-b

do_math(1, 2) '''

" def do_math(?, ?, ?):\n  if (kind=='add'):\n    return a+b\n  else:\n    return a-b\n\ndo_math(1, 2) "

In [15]:
#solution 

def do_math(a,b , kind = 'add'):
    if kind == 'add' or kind == None:
        return a + b 
    else:
        return a - b

43

### Q2) What would be an appropriate slice to get the name "Christopher" from the string "Dr. Christopher Brooks"?

In [45]:
''' x = 'Dr. Christopher Brooks'
print(x[???]) '''

" x = 'Dr. Christopher Brooks'\nprint(x[???]) "

In [48]:
#answer
x = 'Dr. Christopher Brooks'
for idx , char in enumerate(x):
    print( idx , ': ' , char)

0 :  D
1 :  r
2 :  .
3 :
4 :  C
5 :  h
6 :  r
7 :  i
8 :  s
9 :  t
10 :  o
11 :  p
12 :  h
13 :  e
14 :  r
15 :
16 :  B
17 :  r
18 :  o
19 :  o
20 :  k
21 :  s

In [49]:
substr = x[4:15]
print(substr)

Christopher

#### Q3) Here is a list of faculty teaching this MOOC. Can you write a function and apply it using map() to get a list of all faculty titles and last names (e.g. ['Dr. Brooks', 'Dr. Collins-Thompson', …]) ?

In [84]:
''' people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    return #Your answer here

list(map(#Your answer here))'''

" people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']\n\ndef split_title_and_name(person):\n    return #Your answer here\n\nlist(map(#Your answer here))"

In [85]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

In [163]:
def split_title_and_name(people):
    titles = []
    for item in people:
        split_item = item.split(' ')
        print(split_item)
        titles.append("{} {}".format(split_item[0],split_item[-1]))
    return titles

In [173]:
def split_list(item_of_list):
    titles = []
    list_items = item_of_list.split(' ')
    titles.append(list_items[0] + ' ' + list_items[-1])
    return titles

In [174]:
list(map(split_list,people))

[['Dr. Brooks'], ['Dr. Collins-Thompson'], ['Dr. Vydiswaran'], ['Dr. Romero']]

In [145]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    title = person.split()[0]
    lastname = person.split()[-1]
    return '{} {}'.format(title, lastname)

list(map(split_title_and_name, people))

['Dr. Brooks', 'Dr. Collins-Thompson', 'Dr. Vydiswaran', 'Dr. Romero']

### Q4) Convert the function to lambda

In [175]:
''' people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    return person.split()[0] + ' ' + person.split()[-1]

#option 1
for person in people:
    print(split_title_and_name(person) == (lambda person:???))

#option 2
#list(map(split_title_and_name, people)) == list(map(???))
 '''

" people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']\n\ndef split_title_and_name(person):\n    return person.split()[0] + ' ' + person.split()[-1]\n\n#option 1\nfor person in people:\n    print(split_title_and_name(person) == (lambda person:???))\n\n#option 2\n#list(map(split_title_and_name, people)) == list(map(???))\n "

In [177]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

In [178]:
lambda alist: "{} {}".format(alist.split[0], alist.split[1])

In [196]:
lambda_fun = lambda alist: "{} {}".format(alist.split(" ")[0], alist.split(" ")[1])
for item in people:
    print(lambda_fun(item))

Dr. Christopher
Dr. Kevyn
Dr. VG
Dr. Daniel

#### Q5) Here, why don’t you try converting a function into a list comprehension

In [197]:
''' def times_tables():
    lst = []
    for i in range(10):
        for j in range (10):
            lst.append(i*j)
    return lst

times_tables() == [???] '''

' def times_tables():\n    lst = []\n    for i in range(10):\n        for j in range (10):\n            lst.append(i*j)\n    return lst\n\ntimes_tables() == [???] '

In [199]:
lst = [ i * j for i in range(10) for j in range(10) ]

### Q6) Here’s a harder question which brings a few things together.

In [202]:
''' Many organizations have user ids which are constrained in some way. 
Imagine you work at an internet service provider and the user ids are all two letters followed by two numbers 
(e.g. aa49). Your task at such an organization might be to hold a record on the billing activity for each possible user. 

Write an initialization line as a single list comprehension which creates a list of 
all possible user ids. Assume the letters are all lower case. '''

''' lowercase = 'abcdefghijklmnopqrstuvwxyz'
digits = '0123456789'

answer = [???]
correct_answer == answer '''

" lowercase = 'abcdefghijklmnopqrstuvwxyz'\ndigits = '0123456789'\n\nanswer = [???]\ncorrect_answer == answer "

In [203]:
lowercase = 'abcdefghijklmnopqrstuvwxyz'
digits = '0123456789'

In [225]:
char_options = [char1 + char2 for char1 in lowercase for char2 in lowercase]
digits_options = [char1 + char2 for char1 in digits for char2 in digits]
id_options = [chars + digit for digit in digits_options for chars in char_options ]

In [226]:
id_option = [char1 + char2 + d1 + d2 for char1 in lowercase for char2 in lowercase for d1 in digits for d2 in digits]

In [236]:
assert id_option == id_options #AssertionError because of the order of the lists

AssertionError:

In [212]:
#assert char_options == char_lists

In [237]:
''' char_list = [char for char in lowercase]
char_lists = []
for first_iter in lowercase:
    for second_iter in lowercase:
        char_lists.append(first_iter + second_iter)
        print(char_lists)  '''

' char_list = [char for char in lowercase]\nchar_lists = []\nfor first_iter in lowercase:\n    for second_iter in lowercase:\n        char_lists.append(first_iter + second_iter)\n        print(char_lists)  '

In [205]:
lowercase.split('')

ValueError: empty separator

### Testing

In [16]:
do_math(5,7)    
do_math(5,7,'add')

12

In [17]:
do_math(50,7,'odd')

43

In [19]:
def do_math(a,b , kind = 'add'):
    if kind == 'add':
        return a + b 
    else:
        return a - b 
    
do_math(5,7)

12

In [30]:
result = do_math(5,7)

In [31]:
result

12

In [32]:
def do_math(x,y):
    y = x + y

In [33]:
result = do_math(5,7)

In [34]:
print(result)

None

### list

In [20]:
ls = [1,2,3,4,5,6,7,8,9]
print(ls[0:3])

[1, 2, 3]

In [24]:
print(ls[-4:-1])

[6, 7, 8]

In [35]:
[5,4] * 12

[5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4]

In [36]:
(4,2) * 5

(4, 2, 4, 2, 4, 2, 4, 2, 4, 2)

In [37]:
(2,7) + (7,8)

(2, 7, 7, 8)

In [39]:
'Python' + ' is'

'Python is'

In [40]:
'i' in 'is'

True

### slicing

In [25]:
s = 'python is interpreted language'

In [26]:
s[-1]

'e'

In [27]:
len(s)

30

In [28]:
s[0:30]

'python is interpreted language'

In [29]:
s[0:29]

'python is interpreted languag'

In [50]:
s.split(' ')

['python', 'is', 'interpreted', 'language']

In [51]:
ls = s.split(' ')

In [53]:
ls.split()

AttributeError: 'list' object has no attribute 'split'

### datetime

In [67]:
from datetime import datetime as dt

In [55]:
import time as t

In [62]:
tm = t.time()

In [68]:
today = dt.fromtimestamp(t.time())

In [69]:
today

datetime.datetime(2022, 1, 14, 14, 34, 16, 89525)

In [70]:
today.year

2022

In [75]:
from datetime import timedelta

In [83]:
from datetime import timedelta
delta = timedelta(days=50)